.protfolio-area{
    width: 100%;
    position: relative;
    padding-top: 0;

    .img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5rem;
        img{
            width: 3rem;
            height: 3rem;
        }
    }
    .portfolio-content{
        text-align: center;

        h2{
            font-size: 3rem;
            margin-bottom: 1rem;
        }
        p{
            margin-bottom: 4rem;
        }
    }
}